{% extends 'layout.html' %}

{% block content %}
    <form method="GET" action="{% url 'doctors' %}">
        <input type="text" name="q" placeholder="Search by name" value="{{ request.GET.q }}">
        <select name="specialty">
            <option value="">Всі спеціальності</option>
            {% for specialty in specialties %}
                <option value="{{ specialty.id }}"
                        {% if specialty.id == request.GET.specialty %}selected{% endif %}>{{ specialty.specialty }}</option>
            {% endfor %}
        </select>
        <button type="submit">Filter</button>
    </form>
    <ul>
        {% for doctor in doctors %}
            <li>{{ doctor.user.first_name }} {{ doctor.user.last_name }} - {{ doctor.specialty.specialty }}</li>
        {% empty %}
            <li>No doctors found.</li>
        {% endfor %}
    </ul>

{% endblock %}
