{% extends 'layout.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}


    <div class="container login d-flex justify-content-center align-items-center">

        <div>
            <img class="d-none d-lg-block" src="{% static "img/svg/sv5.svg" %}" height="500" alt="">
        </div>

        <form class="pt-5 col-8 col-xl-4" method="post">
            {% csrf_token %}

            <h2 class="text-center fw-bold mb-4">Вхід</h2>
            <!-- Email input -->
            <div class="form-outline mb-4">
                {#                <input type="email" id="form2Example01" class="form-control"/>#}
                {% render_field form.email class+="form-control bg-light" %}
                <label class="form-label" for="form2Example1">Електронна пошта</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                {#                <input type="password" id="form2Example2" class="form-control"/>#}
                {% render_field form.password class+="form-control bg-light" %}
                <label class="form-label" for="form2Example2">Пароль</label>
            </div>

            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">

                <div class="text-center">
                    <input class="form-check-input" type="checkbox" value="" id="pass-check"/>
                    <label class="form-check-label" for="flexCheckChecked">Показати пароль</label>
                </div>
            </div>


            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4 log_btn">Вхід</button>


            <!-- Register buttons -->
            <div class="text-center">
                <p>Ще не зареєстровані? <a href="{% url 'registration' %}">Реєстрація</a></p>
            </div>

            <div class="text-center">
                <p><a href="{% url 'reset_password' %}">Забули пароль ?</a></p>
            </div>

            {% if success_msg %}
                <div class="text-center success-msg">
                    <i class="fa fa-check"></i>
                    {{ success_msg }}
                </div>
            {% endif %}
        </form>

        <div>
            <img class="d-none d-lg-block" src="{% static "img/svg/sv7.svg" %}" height="500" alt="">
        </div>
    </div>
{% endblock %}
