{% extends "layout.html" %}
{% load widget_tweaks %}

{% block content %}
    <div class="container login reg d-flex justify-content-center align-items-center">

        <form class="form_weight pt-5" method="post">

            {% csrf_token %}
            <p class="text-center">Введіть новий пароль</p>
            {% csrf_token %}
            <div class="form-outline bg-white mb-4">
                {% render_field form.password class+="form-control" %}
                <label class="form-label" for="form2Example2">Пароль</label>
            </div>

            <div class="form-outline bg-white mb-4">
                {% render_field form.confirm_password class+="form-control" %}
                <label class="form-label" for="form2Example2">Пароль</label>
            </div>
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Надіслати</button>

        </form>
    </div>
{% endblock %}