{% load static %}
<div class="container" >
  <hr>
    <div class="row featurette d-fles justify-content-between align-items-center my-5" >
        <div class="col-md-7">
          <h2 class="featurette-heading text-black">First featurette heading. <span class="text-">It’ll blow your mind.</span></h2>
          <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
        </div>
        <div class="col-md-5">
          <img src="{% static 'img/doctor1.jpg' %}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"   width="500" height="500" alt="">        
        </div>
      </div>
    <hr>
    <div class="row featurette d-fles justify-content-between align-items-center my-5" >
      <div class="col-md-5">
        <img src="{% static 'img/doctor2.jpg' %}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"   width="500" height="500" alt="">        
      </div>

      <div class="col-md-7">
        <h2 class="featurette-heading text-black">First featurette heading. <span class="text-">It’ll blow your mind.</span></h2>
        <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
      </div>
    </div>
    <hr>
</div>