<nav aria-label="Page navigation example" class="page">
    <ul class="pagination pagination-lg m-0">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i
                        class="fa-solid fa-arrow-left"></i></a>
            </li>
        {% else %}
            <li class="page-item"><a class="page-link disabled" href="#"><i
                    class="fa-solid fa-arrow-left"></i></a></li>

        {% endif %}

        <span class="page-link">
            {{ page_obj.number }}
      </span>



        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}"><i
                    class="fa-solid fa-arrow-right"></i></a></li>
        {% else %}
            <li class="page-item"><a class="page-link disabled" href="#"><i
                    class="fa-solid fa-arrow-right"></i></a></li>
        {% endif %}
    </ul>
</nav>