* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --purple: hsl(240, 80%, 89%);
    --pink: hsl(0, 59%, 94%);
    --light-bg: hsl(204, 37%, 92%);
    --light-gray-bg: hsl(0, 0%, 94%);
    --white: hsl(0, 0%, 100%);
    --dark: hsl(0, 0%, 7%);
    --text-gray: hsl(0, 0%, 30%);
    --star-gold: hsl(44, 98%, 50%);
}

body {
    background: var(--light-bg);
    font-family: "Open Sans", sans-serif;
    color: var(--dark);
}

h3 {
    font-size: 1.5em;
    font-weight: 700;
}

p {
    font-size: 1em;
    line-height: 1.7;
    font-weight: 300;
}

.description {
    white-space: wrap;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrap {
    display: flex;
    justify: space-between;
    align-items: stretch;
    width: 100%;
    gap: 24px;
    padding: 24px;
    flex-wrap: wrap;
}

.card-title {
    width: 100%;
    text-align: center;
}

.doc-info {
    width: 100%;
    text-align: center;
}


.box {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    position: relative;
    padding: 24px;
    background: #fff;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
    border-radius: 6px;
}

.box-top {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 12px;
    margin-bottom: 36px;
}

.box-image {
    margin: 0 auto;
    width: 160px;
    height: 160px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 50%;
}

.title-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;

}

.star {
    color: var(--star-gold);
}

.user-follow-info {
    color: #3B71CA;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.user-experience {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.4);
}

.button {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    padding: 16px;
    color: #000;
    background: transparent;
    box-shadow: 0px 0px 0px 1px black inset;
    transition: background 0.4s ease;
}

.button:hover {
    background: var(--purple);
}

.fill-one {
    background: var(--light-bg);
}

.fill-two {
    background: var(--pink);
}

/* RESPONSIVE QUERIES */

@media (min-width: 320px) {
    .title-flex {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 460px) {
    .title-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 640px) {

    .title-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 774px) {

    .box {
        flex-basis: calc(48% - 12px);
    }

    .title-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 1024px) {
    .box {
        flex-basis: calc(33.3% - 16px);
    }

    .title-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 1400px) {
    .box {
        flex-basis: calc(24% - 18px);
    }
}