body {
    font-family: "Open Sans", sans-serif;
    background-color: #E3ECF2;
}

h1 {
    text-align: center;
    font-weight: normal;
    margin-top: 30px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.day-container {
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    margin: 12px;
    padding: 12px 0;
    text-align: center;
}

.day-title {
    background-color: #3b71ca;
    color: #fff;
    padding: 10px 0;
    border-radius: 6px 6px 0 0;
}

.day-date {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.hour-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.free-slot {
    background-color: #fff;
    color: #3b71ca;
    border: 2px solid #3b71ca;
    border-radius: 6px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    flex: 1;
    text-align: center;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.free-slot:hover {
    background-color: #3b71ca;
    color: #fff;
}

.booked-slot {
    background-color: #fff;
    color: #ccc;
    border: 2px solid #ccc;
    border-radius: 6px;
    padding: 10px 20px;
    margin: 10px;
    flex: 1;
    text-align: center;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.booked-slot:hover {
    cursor: default;
}

@media screen and (min-width: 375px) {
    .main-container {
        justify-content: center;
        margin: 0 auto;
    }

    .day-container {

        width: 90%;
        text-align: center;
    }

}

@media screen and (min-width: 768px) {
    .main-container {
        justify-content: center;
        margin: 0 auto;
    }

    .day-container {
        margin: 12px;
        width: 40%;
        text-align: center;
    }

}

@media screen and (min-width: 1024px) {
    .main-container {
        justify-content: center;
        margin: 0 auto;
    }

    .day-container {
        width: 30%;
        text-align: center;
    }

}

.icon_color {
    color: #3b71ca;
}